:host { display:block; }

.card {
  border:1px solid var(--color-texto_borde_cajas);
  padding:10px;
  margin:10px 0;
  border-radius:6px;
}

.example-container .item {
  background:var(--color-primario-disabled);
  padding:8px;
  margin:6px 0;
  border-radius:3px;
}
