:host { display:block; }

.card {
  border:1px solid var(--color-texto_borde_cajas);
  padding:10px;
  margin:10px 0;
  border-radius:6px;
}

.observer-box {
  min-height:60px;
  padding:6px;
  background:var(--color-fondo-primario);
}
