:host { display:block; }

.card {
  border:1px solid var(--color-texto_borde_cajas);
  padding:10px;
  margin:10px 0;
  border-radius:6px;
}

.example {
  margin:8px 0;
}

.inner {
  padding:6px;
  background:var(--color-primario-disabled);
  border-radius:4px;
  cursor:pointer;
}
