<div class="data-input-wrapper">
  <div class="data-input__container">
    <span *ngIf="svgIcon; else imgTpl" class="data-input__icon" [innerHTML]="svgIcon"></span>
    <ng-template #imgTpl>
      <img 
        *ngIf="icon" 
        [src]="icon" 
        [alt]="label || placeholder"
        class="data-input__icon"
        width="24"
        height="24"
        aria-hidden="true"
      />
    </ng-template>
    <input
      class="data-input__input"
      [type]="type"
      [placeholder]="label || placeholder"
      [disabled]="disabled"
      [value]="value"
      [attr.aria-label]="label || placeholder"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
    />
  </div>
</div>
