<fieldset class="form-input">
	<label [attr.for]="inputId" class="form-input__label">
		<span class="form-input__label-text">
			{{ label }}
			<span *ngIf="required" class="form-input__asterisk" aria-hidden="true">*</span>
		</span>
	</label>
	<input
		[id]="inputId"
		[type]="type"
		[name]="name"
		[placeholder]="placeholder"
		[required]="required"
		class="form-input__field"
		[attr.aria-describedby]="(helpText ? inputId + '-help' : null) + (error ? ' ' + inputId + '-error' : '')"
		[attr.aria-invalid]="!!error"
		[ngModel]="value"
		(ngModelChange)="valueChange.emit($event)"
	/>
	<small *ngIf="helpText" [id]="inputId + '-help'" class="form-input__help">{{ helpText }}</small>
	<small *ngIf="error" [id]="inputId + '-error'" class="form-input__error" role="alert">{{ error }}</small>
</fieldset>
