<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
	<fieldset class="register-form__fieldset">
		<div class="register-form__field-group">
			<label class="register-form__label">Introduce un nuevo nombre de usuario para cambiarlo:</label>
			<app-data-input
				formControlName="username"
				label="Usuario123"
				placeholder="Usuario123"
				icon="/Icono Usuario.svg"
				type="text"
			></app-data-input>
			<div *ngIf="registerForm.get('username')?.pending" class="loading">Comprobando disponibilidad...</div>
			<div class="form-error" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">{{ getErrorMessage('username') }}</div>
		</div>

		<div class="register-form__field-group">
			<label class="register-form__label">Introduce el nombre de usuario:</label>
			<app-data-input
				formControlName="password"
				label="Contraseña"
				placeholder="Contraseña"
				icon="/Icono contraseña.svg"
				type="password"
			></app-data-input>
			<div class="form-error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
				<div *ngIf="registerForm.get('password')?.errors?.['noUppercase']">Debe contener al menos una letra mayúscula</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noLowercase']">Debe contener al menos una letra minúscula</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noNumber']">Debe contener al menos un número</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noSpecial']">Debe contener al menos un carácter especial</div>
				<div *ngIf="registerForm.get('password')?.errors?.['minLength']">Debe tener al menos {{ registerForm.get('password')?.errors?.['minLength'].requiredLength }} caracteres</div>
			</div>
		</div>

		<div class="register-form__field-group">
			<label class="register-form__label">Introduce el email:</label>
			<app-data-input
				formControlName="email"
				label="Email"
				placeholder="correo@ejemplo.com"
				icon="/Icono de email.svg"
				type="email"
			></app-data-input>
			<div *ngIf="registerForm.get('email')?.pending" class="loading">Verificando...</div>
			<div class="form-error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">{{ getErrorMessage('email') }}</div>
		</div>

		<app-button
			variant="primary"
			[width]="'100%'"
			[padding]="'12px 24px'"
			[fontSize]="'1.125rem'"
			type="submit"
			[disabled]="registerForm.invalid || registerForm.pending"
		>
			{{ registerForm.pending ? 'Validando...' : 'Crear Cuenta' }}
		</app-button>

		<div class="register-form__login-link">
		  <p>¿Ya tienes cuenta?</p>
		  <a routerLink="/iniciar-sesion" class="link-primary">Iniciar sesión</a>
		</div>
	</fieldset>
</form>
