<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
	<fieldset class="register-form__fieldset">
		<legend class="register-form__legend">Crear cuenta</legend>
		<div class="form-group">
			<label for="username">Nombre de Usuario</label>
			<input id="username" class="form-input" placeholder="Nombre de Usuario" formControlName="username" />
			<div *ngIf="registerForm.get('username')?.pending" class="loading">Comprobando disponibilidad...</div>
			<div class="form-error" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">{{ getErrorMessage('username') }}</div>
		</div>

		<div class="form-group">
			<label for="email">Correo electrónico</label>
			<input id="email" type="email" class="form-input" placeholder="Correo electrónico" formControlName="email" />
			<div *ngIf="registerForm.get('email')?.pending" class="loading">Verificando...</div>
			<div class="form-error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">{{ getErrorMessage('email') }}</div>
		</div>

		<div class="form-group">
			<label for="password">Contraseña</label>
			<input id="password" type="password" class="form-input" placeholder="Contraseña" formControlName="password" />
			<div class="form-error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
				<div *ngIf="registerForm.get('password')?.errors?.['noUppercase']">Debe contener al menos una letra mayúscula</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noLowercase']">Debe contener al menos una letra minúscula</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noNumber']">Debe contener al menos un número</div>
				<div *ngIf="registerForm.get('password')?.errors?.['noSpecial']">Debe contener al menos un carácter especial</div>
				<div *ngIf="registerForm.get('password')?.errors?.['minLength']">Debe tener al menos {{ registerForm.get('password')?.errors?.['minLength'].requiredLength }} caracteres</div>
			</div>
		</div>

		<div class="form-group">
			<label for="repeatPassword">Repetir contraseña</label>
			<input id="repeatPassword" type="password" class="form-input" placeholder="Repetir contraseña" formControlName="repeatPassword" />
			<div class="form-error" *ngIf="(registerForm.get('repeatPassword')?.touched && registerForm.get('repeatPassword')?.invalid) || registerForm.errors?.['mismatch']">{{ getErrorMessage('repeatPassword') || (registerForm.errors?.['mismatch'] ? 'Las contraseñas no coinciden' : '') }}</div>
		</div>

		<button type="submit" class="register-form__submit" [disabled]="registerForm.invalid || registerForm.pending">
		  {{ registerForm.pending ? 'Validando...' : 'Crear cuenta' }}
		</button>
	</fieldset>
</form>
