/*
**************** Colores ****************
*/

/* ************ Colores modo claro ************ */

//Color Primario

$color-primario-hover: #F08EC7;
$color-primario-primary: #E177B5;
$color-primario-disabled: #F6D5E8;

//Color Secundario

$color-secundario-hover: #CB5FAA;
$color-secundario-primary: #99397C;
$color-secundario-disabled: #CCB9C7;

//Color Terciario

$color-terciario-hover: #DCDFC9;
$color-terciario-primary: #F4F8DF;
$color-terciario-disabled: #FCFDF5;

//Color Cuaternario

$color-cuaternario-hover: #A4D281;
$color-cuaternario-primary: #B6E98F;
$color-cuaternario-disabled: #E8F8DC;

//Color Quintario

$color-quintario-hover: #AEC79B;
$color-quintario-primary: #A6CC88;
$color-quintario-disabled: #E3EFDA;

// Color Afirmacion
$color-afirmacion-hover: #92FF81;
$color-afirmacion-primary: #22FF00;

// Color Negacion
$color-negacion-hover: #FF5050;
$color-negacion-primary: #FF0202;

//Bordes y Marco de los botones

$color-bordes_marco_botones: #1F0A1A;

//Texto y Borde de las caja

$color-texto_borde_cajas: #3A4730;

//Variante de color de pastilla 1

$color-variante-primera: #00FFFB;

//Variante de color de pastilla 2

$color-variante-segunda: #F2FF00;

//Variante de color de pastilla 3

$color-variante-tercera: #FF00C3;

//Variante de color de pastilla 4

$color-variante-cuarta: #FFAA00;

//Variante de color de pastilla 5

$color-variante-quinta: #C200FD;

/* ************ Colores modo oscuro ************ */

//Color Primario

$color-primario-dark_hover: #87476D;
$color-primario-dark: #A95988;
$color-primario-off: #4F2A3F;

//Color Secundario

$color-secundario-dark_hover: #20091A;
$color-secundario-dark: #441638;
$color-secundario-off: #150511;

//Color Terciario

$color-terciario-dark_hover: #28381D;
$color-terciario-dark: #384F28;
$color-terciario-disabled: #212E18;

//Color Cuaternario

$color-cuaternario-dark_hover: #35422B;
$color-cuaternario-dark: #435735;
$color-cuaternario-off: #2A3820;

//Color Quintario

$color-quintario-dark_hover: #647A52;
$color-quintario-dark: #7D9966;
$color-quintario-off: #3A4730;

// Color Afirmacion
$color-afirmacion-dark_hover: #169D01;
$color-afirmacion-dark: #168C04;

// Color Negacion
$color-negacion-dark_hover: #840000;
$color-negacion-dark: #9C1010;

//Bordes y Marco de los botones

$color-bordes_marco_botones: #EBA4CD;

//Texto y Borde de las caja

$color-texto_borde_cajas: #A4D281;

//Variante de color de pastilla 1

$color-variante-primera: #008E8B;

//Variante de color de pastilla 2

$color-variante-segunda: #B4BD00;

//Variante de color de pastilla 3

$color-variante-tercera: #980075;

//Variante de color de pastilla 4

$color-variante-cuarta: #A66F00;

//Variante de color de pastilla 5

$color-variante-quinta: #9100BD;

/*
**************** Escala tipográfica ****************
*/

/*
**************** Sistema de espaciado ****************
*/

$espaciado-8: 1rem;
$espaciado-16: 1rem;
$espaciado-24: 1.5rem;
$espaciado-48: 2rem;
$espaciado-64: 2.5rem;
/*
**************** Breakpoints Genericos ****************
*/

/*
**************** Bordes y radios ****************
*/

/*
**************** Transiciones ****************
*/
